@font-face {
    font-family: "MadeBonVoyage";
    src: url("../fonts/MadeBonVoyage.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("../fonts/neue-haas-grotesk-display/NeueHaasDisplayXThin.ttf") format("TrueType");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("../fonts/neue-haas-grotesk-display/NeueHaasDisplayThin.ttf") format("TrueType");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("../fonts/neue-haas-grotesk-display/NeueHaasDisplayLight.ttf") format("TrueType");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("../fonts/neue-haas-grotesk-display/NeueHaasDisplayRoman.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("../fonts/neue-haas-grotesk-display/NeueHaasDisplayMediu.ttf") format("TrueType");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("../fonts/neue-haas-grotesk-display/NeueHaasDisplayBold.ttf") format("TrueType");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("../fonts/neue-haas-grotesk-display/NeueHaasDisplayBlack.ttf") format("TrueType");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PPFraktionMono";
    src: url("../fonts/Fraktion-Mono/PPFraktionMono-RegularItalic.otf") format("OpenType");
    font-weight: 300;
    font-style:italic;
}

@font-face {
    font-family: "PPFraktionMono";
    src: url("../fonts/Fraktion-Mono/PPFraktionMono-Regular.otf") format("OpenType");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "PPFraktionMono";
    src: url("../fonts/Fraktion-Mono/PPFraktionMono-BoldItalic.ttf") format("TrueType");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "PPFraktionMono";
    src: url("../fonts/Fraktion-Mono/PPFraktionMono-Bold.otf") format("OpenType");
    font-weight: 600;
    font-style: normal;
}



*,
*::after,
*::before {
    box-sizing: border-box;
    touch-action: manipulation;
    overscroll-behavior: none;
}

:root {
    font-size: 14px;
    --color-text: #131313;
    --color-bg: #fff;
    --color-link: #000;
    --color-link-hover: #131313;
    --padding-sides: 2rem;
    --padding-row: 1rem;
    --color-row-border: #f0f0f0;
    --color-bg-row-hover: #f0f0f0;
    --color-text-alt: #000;
    --image-gap: 1vw;
    --image-gap-large: 2vw;
    --img-size: 5vw;
    --img-size-large: 14vw;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-family: PPFraktionMono, monospace;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
}

.oh {
    position: relative;
    overflow: hidden;
}

.oh__inner {
    will-change: transform;
    display: inline-block;
}

.show-menu span {
    font-size: 3rem;
}

.responsive-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    justify-items: start;
}

.menu-responsive {
    display: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.fade {
    display: none;
}

.stop-scroll {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
    cursor: pointer;
}

.hover-line {
    overflow: hidden;
    position: relative;
}

.hover-line::before {
    content: "";
    height: 1px;
    width: 100%;
    background: currentColor;
    position: absolute;
    top: 92%;
    transition: transform 0.3s;
    transform-origin: 0% 50%;
}

.hover-line:hover::before {
    transform: scaleX(0);
    transform-origin: 100% 50%;
}

a:hover {
    text-decoration: none;
    color: var(--color-link-hover);
    outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
    /* Provide a fallback style for browsers
	 that don't support :focus-visible */
    outline: none;
    background: lightgrey;
}

a:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
    background: transparent;
}

a:focus-visible {
    /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
    outline: 2px solid red;
    background: transparent;
}

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.unbutton:focus {
    outline: none;
}

/* Header sticky section */

.header-sticky {
    position: sticky;
    z-index: 9999999;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.8s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.frame {
    width: 100%;
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    border-bottom: 1px solid var(--color-row-border);
}

.menu-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    justify-items: start;
}

.frame__title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    line-height: 1;
}

.frame__title > a {
    font-weight: 100;
    font-size: 3rem;
    font-family: MadeBonVoyage;
    text-transform: none;
}

.frame__title > span {
    font-size: 1.3rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    text-transform: none;
}



.frame__title-back {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.frame__title-back span {
    display: none;
}

.frame__title-back svg {
    fill: currentColor;
}

.frame__prevdemo {
    grid-area: prevdemo;
}

.intro {
    display: flex;
    justify-content:left;
    align-items:flex-end;
    padding: 2rem 1rem;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(-45deg, rgba(233, 0, 255, 1) 20%, rgba(19, 19, 19, 1) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: left center;
    background-size: 150% 150%;
    animation: animate 5s ease-in-out infinite;
    color: #131313;
}

.frame__title-main {
    width: 80%;
    font-size: 6rem;
    line-height: 5rem;
    margin: 0;
    font-weight: 500;
    font-family: neue-haas-grotesk-display, sans-serif;
    text-transform: none;
    color: #FFF;
    background: linear-gradient(to left, #f6e2fa, #e900ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 7.5s ease-in-out infinite;
}

.intro-2 {
    padding: 2rem 1rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.intro-3 {
    padding: 2rem 1rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: sticky;
    z-index: 999;
    top: 0;
}

.frame__title-main-2 {
    line-height: 1rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    max-width: 100%;
}

.frame__title-main-3 {
    line-height: 0;
    font-size: 3.5rem;
    font-weight: 600;
    max-width: 100%;
}

.breadcrumb-wr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.breadcrumb-wr > a {
    color: white;
    font-weight: 400;
}

/* Nav Bar styles */
.slider-menu-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
    background: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;
}
.slider-menu-wrapper-2 {
    width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    font-size: 0;
}
.js .slider-menu-wrapper {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.js .slider-menu-wrapper::-webkit-scrollbar {
    display: none;
}
.js .slider-menu-wrapper-2::-webkit-scrollbar {
    display: none;
}
.js .slider-menu::-webkit-scrollbar {
    display: none;
}
.slider-menu {
    float: left;
    transition: transform 0.2s ease-in-out;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}
.slider-menu a {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    text-transform: none;
}
.slider-menu-no-transition {
    transition: none;
}
.menu-item {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 100;
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 24px 10px;
    min-width: 80px;
}
.menu-item:hover {
    cursor: pointer;
}
a:hover.menu-item {
    color: #ccc;
}

.menu-item + .menu-item {
    border-left-color: #fff;
}
.menu-item[aria-selected="true"] {
    color: #e900ff;
}
.pn-Advancer {
    display: none;
    background-color: #ffffff;
    appearance: none;
    align-content: center;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
}
.pn-Advancer:focus {
    outline: 0;
}
.pn-Advancer:hover {
    cursor: pointer;
}
.pn-Advancer_Left {
    left: 0;
}
[data-overflowing="both"] ~ .pn-Advancer_Left,
[data-overflowing="left"] ~ .pn-Advancer_Left {
    opacity: 1;
}
.pn-Advancer_Right {
    right: 0;
}
[data-overflowing="both"] ~ .pn-Advancer_Right,
[data-overflowing="right"] ~ .pn-Advancer_Right {
    opacity: 1;
    z-index: 999;
}
.slider-menu-wrapper .pointer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-align: center;
}
.slider-menu-wrapper span {
    color: #131313;
    font-size: 3.5rem;
    font-weight: 400;
}
.line-selected-item {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100px;
    background-color: #e900ff;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
/* End Nav Bar styles */

.sticky-section {
    position: sticky;
    top: 0;
}

.cover {
    background-color: white;
    width: 100%;
    height: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    position: fixed;
    left: 0;
    will-change: height, top;
}

.row__special {
    background-color: #1f1f1f;
    z-index: 1;
    color: var(--color-text);
    display: grid;
    position: relative;
    cursor: pointer;
    grid-template-rows: var(--img-size);
    align-items: center;
    padding: 1rem;
    transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.search {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    overflow: auto;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: start;
}

.search input[type="search"] {
    color: #f0f0f0;
    font-family: PPFraktionMono, monospace;
    font-size: 2rem;
    border: 0px;
    width: 100%;
    padding: 20px 0px;
    background: none;
}

.search input[type="search"]:focus {
    outline: 0;
}

.search button[type="button"] {
    background-color: white;
    border: none;
    color: #1f1f1f;
    text-align: center;
    font-family: PPFraktionMono, monospace;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    padding: 1.5rem 3rem;
}

.search button[type="button"]:hover {
    background-color: #ccc;
    cursor: pointer;
    color: black;
}

@media only screen and (min-width: 100px) and (max-width: 600px) {
    .search {
        width: 100%;
        margin: 0 auto;
    }

    .search input[type="search"] {
        border: none;
        color: white;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .search button[type="button"] {
        height: 100%;
        background-color: white;
        border: none;
        color: #1f1f1f;
        text-align: center;
        font-family: PPFraktionMono, monospace;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        padding: 1rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .search {
        width: 100%;
        margin: 0 auto;
    }

    .search input[type="search"] {
        border: none;
        color: white;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 2rem;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .search button[type="button"] {
        height: 100%;
        background-color: white;
        border: none;
        color: #1f1f1f;
        text-align: center;
        font-family: PPFraktionMono, monospace;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        padding: 1.5rem;
    }
}

/* media queries */

@media only screen and (min-width: 100px) and (max-width: 600px) {
    .row__special {
        height: auto;
        padding: 2rem 1rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .row__special {
        height: auto;
        padding: 2rem 1rem;
    }
}

/* Section styles */

.content {
    position: relative;
    z-index: 100;
    border-bottom: 1px solid var(--color-row-border);
}

.row {
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    grid-template-columns: auto 1fr;
    padding: 1rem;
    transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.row-2 {
    background-color: #f0f0f0;
    color: #131313;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    grid-template-columns: auto 1fr;
    padding: 2rem 1rem;
    transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.row--current {
    z-index: 11;
    transition: border-color 0.3s ease-out;
}

.bandera {
    margin: 1rem;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bandera-2 {
    margin: 1rem;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wr-banner {
    flex: 1 1;
    padding: 10rem 2rem;
}

.wr-banner-2 {
    flex: 1 1;
    padding: 10rem 1rem;
}

.wr-banner-3 {
    padding: 5rem 0rem;
}

.wr-1 {
    color: #f5f3f4;
    background-color: #e900ff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
}

.wr-3 {
    color: #131313;
    background-image: linear-gradient(0deg, rgba(233, 0, 255, 1) 10%, rgba(255, 255, 255, 1));
    background-repeat: no-repeat, no-repeat;
    background-position: left top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
}

.wr-4 {
    background-color: #e900ff;
    width: 100%;
    overflow: hidden;
}



.wr-4 h1 {
    display: table;
    white-space: nowrap;
    font-size: 6rem;
    font-weight: 600;
    color: white;
}

.wr-5 {
    padding: 1rem;
    background-color: #000;
    color: #f5f3f4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.wr-5 > a {
    color: #f5f3f4;
    font-size: 1rem;
}

.wr-1-optional {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
}

.wr-1 h2 {
    font-size: 5rem;
    line-height: 5rem;
    max-width: 100%;
    white-space: normal;
    color: white;
}

.wr-3 h2 {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 600;
    max-width: 100%;
    white-space: normal;
    color: white;
}

.wr-1-optional h2 {
    font-size: 5rem;
    line-height: 5rem;
    max-width: 100%;
    white-space: normal;
    color: #e900ff;
}

.wr-2 {
    background-image: linear-gradient(-45deg, rgba(235, 90, 237, 0.8) 20%, rgba(248, 235, 223, 0)), url("../images/versed-press-restart-gentle-retinol-serum-284121-1575397194226-main.900x0c.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: left top;
    background-size: cover;
}

.wr-2-optional {
    background-image: linear-gradient(45deg, rgba(235, 90, 237, 0.5) 100%, rgba(248, 235, 223, 0)), url("../images/versed-target-the-everygirl.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left top;
    background-size: cover;
}

.cell {
    position: relative;
    height: auto;
}

.space--elements {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.space--elements > span:hover {
    cursor: pointer;
    color: #ccc;
}

.arrow:hover {
    cursor: pointer;
    color: #ccc;
}

.cell span {
    font-size: 2rem;
    color: #000;
    font-weight: 600;
}

.cell__title {
    margin: 0;
    font-size: 2rem;
    position: relative;
    font-weight: 700;
    line-height: 1;
    font-family: neue-haas-grotesk-display, sans-serif;
}

h2 {
    opacity: 0;
    transition: opacity 0.8s;
}

h2.visible {
    opacity: 1;
}


.cell__title {
    display: grid;
    grid-template-rows: 100% 100%;
}

.cell--images {
    display: grid;
    align-content: center;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-gap: var(--image-gap);
    justify-content: end;
    margin-left: auto;
}

.cell__img span {
    font-size: 3.5rem;
    color: #000;
    font-weight: 100;
}

.disabled {
    opacity: 0;
}

.cell__img-inner {
    background-size: cover;
    background-position: 50% 50%;
    aspect-ratio: 1;
    width: 100%;
    border-radius: calc(var(--image-gap) / 3);
}

.cell__img-title {
    max-width: 100%;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-text-alt);
    margin: 0;
    height: 0;
    opacity: 0;
    white-space: nowrap;
    will-change: opacity, transform;
    display: none;
}

.page-footer {
    padding: 1rem 1rem;
}

.border-line {
    border-top: 1px solid var(--color-row-border);
}

.page-footer__text {
    width: 100%;
    line-height: 1.5;
}

.page-footer__text > a {
    font-weight: 600;
}

.page-footer__credits {
    font-weight: 800;
    padding-top: 1vh;
    text-align: left;
}

.page-footer__credits {
    color: #e900ff;
}

.preview {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 200;
}

.preview__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    padding: 2rem;
    cursor: pointer;
    opacity: 0;
    font-family: sans-serif;
}

.preview__close--show {
    pointer-events: auto;
}

.preview__item {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-gap: 10vh;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.preview__item--current {
    pointer-events: auto;
    height: 100vh;
    opacity: 1;
}

.preview__item-title {
    font-family: lores-22-serif, sans-serif;
    font-weight: 700;
    font-size: clamp(1.563rem, 6vw, 3.815rem);
}

.grid {
    position: relative;
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-gap: var(--image-gap-large);
    justify-content: center;
    justify-items: center;
    --img-size: var(--img-size-large);
    grid-template-columns: repeat(4, var(--img-size));
    grid-template-rows: repeat(2, var(--img-size));
}

.grid .cell__img {
    background-color: green;
    width: var(--img-size-large);
}

.fade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999999999;
    display: none;
}

.menu_container {
    background-color: white;
    height: 100vh;
    position: fixed;
    left: -21rem;
    width: 21rem;
    max-width: 21rem;
    top: 0;
    z-index: 9999999999;
    transition: all 0.4s;
    list-style-type: none;
    line-height: 3rem;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu_container .section-1 {
    height: auto;
    padding: 24px 16px;
    background-image: linear-gradient(180deg, rgba(233, 0, 255, 1) 10%, rgb(255, 255, 255));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.menu_container .section-1 > a {
    text-transform: none;
    font-weight: 600;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    color: #f5f3f4;
}

.clean-btn {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-family: PPFraktionMono, monospace;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    padding: 1.5rem 3rem;
}

.tone--selected {
    background-color: #f0f0f0;
}

.row--hover:hover {
    cursor: pointer;
    background-color: #131313;
    color: #ffffff;
}

.row input[type="radio"] {
    width: 30px;
    height: 30px;
}

.clean-btn-2 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-family: PPFraktionMono, monospace;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    padding: 1.5rem 3rem;
}

.ship-btn {
    max-width: 155px;
    background-color: black;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: PPFraktionMono, monospace;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 100px;
}

.ship-btn:hover {
    cursor: pointer;
    background-color: #1f1f1f;
}

.clean-btn:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.menu_container .section-2 {
    padding: 18px;
    background-color: #000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_container .section-2 > a {
    color: #fbebe9;
}

.menu_container .section-5 {
    padding: 16px;
    border-bottom: 1px solid var(--color-row-border);
}

.menu_container .section-4 {
    padding: 16px;
    border-bottom: 1px solid var(--color-row-border);
}

.menu_container .section-3 {
    overflow-y: scroll;
    min-height: 40vh;
    height: 100vh;
    border-top: 1px solid var(--color-row-border);
}

.menu_container li > a {
    font-family: neue-haas-grotesk-display, sans-serif;
    color: black;
    font-size: 1.8rem;
    text-transform: none;
}

.menu_container li > a:hover {
    color: #ccc;
}

.menu_container li > a.item-selected {
    font-weight: 600;
}

.show {
    left: 0;
}

/* End section styles */

/* reel new products styles */

.slider-container {
    width: 100%;
    overflow: hidden;
    padding: 8px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0;
}

.slide {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    padding: 8px;
}

.slide-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
}

.slide:hover {
    cursor: pointer;
}

.slide .image-section {
    flex: 70%;
}

.image-section img {
    padding: 0;
    margin: 0;
}

.slide .image-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slide .info-section {
    flex: 0 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    color: #131313;
}

.slide .info-section-2 {
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-end;
    padding: 10rem 1rem 1rem 1rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    color: white;
}

.bck-color {
    background-color: black;
}

.slide .info-section .title-price {
    display: flex;
    justify-content: space-between;
}

.slide .info-section-2 .title-price {
    display: flex;
    justify-content: space-between;
}

.slide .info-section .brand {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    gap: 10px;
}

.slide .info-section-2 .brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-end;
    gap: 10px;
}

.slide .info-section-2 .brand > span {
    font-size: 2.5rem;
}

.brand .product-detail-btn {
    visibility: hidden;
    color: #e900ff;
}

.brand > span {
    font-weight: 600;
}

@media (max-width: 768px) {
    .slide {
        flex: 0 0 100%;
    }
}

/* End new products styles */

/* Products section grid*/

.products__wrapper {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 8px;
}

.container {
    width: 100%;
    margin: 0;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

/* End section grid*/

@media screen and (min-width: 61em) {
    .frame {
        grid-template-rows: auto;
        grid-template-areas: "title prevdemo sponsor";
        grid-template-columns: auto auto 1fr;
        grid-column-gap: 2rem;
    }
    :root {
        --padding-sides: 4rem;
        --padding-row: 2rem;
    }
}

@media only screen and (min-width: 100px) and (max-width: 575px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .frame__title {
        grid-area: title;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: start;
        line-height: 1;
    }

    .frame__title > a {
        font-weight: 100;
        font-size: 2rem;
        font-family: MadeBonVoyage;
        text-transform: none;
    }

    .frame__title > span {
        font-size: 1rem;
        font-family: neue-haas-grotesk-display, sans-serif;
        text-transform: none;
    }

    .row {
        padding: 2rem 1rem;
    }

    .row--tone {
        padding: 2rem 1rem;
    }

    .row-2 {
        padding: 1rem 1rem;
    }

    .slider-menu-wrapper {
        display: none;
    }

    .cell__img {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .cell__img span {
        font-size: 3rem;
        color: #000;
        font-weight: 100;
    }

    .bandera {
        margin: 1rem;
        background-color: #e900ff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .bandera-2 {
        margin: 1rem;
        background-color: #f6e2fa;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .wr-1 {
        background-color: #e900ff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        min-height: 300px;
    }

    .wr-3 {
        min-height: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: center;
        gap: 2rem;
    }

    .wr-1-optional {
        background-color: #f6e2fa;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
        gap: 1rem;
        min-height: 300px;
    }

    .wr-1 h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        max-width: 90%;
        white-space: normal;
        color: aliceblue;
    }

    .wr-1-optional h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        max-width: 90%;
        white-space: normal;
        color: #e900ff;
    }

    .wr-2 {
        min-height: 300px;
    }

    .wr-2-optional {
        min-height: 300px;
    }

    .wr-3 h2 {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 600;
        max-width: 100%;
        color: aliceblue;
    }

    .frame {
        width: 100%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: start;
        align-items: center;
        border-bottom: 1px solid var(--color-row-border);
    }

    .intro {
        padding: 2rem 1rem;
        display: flex;
    justify-content:left;
    align-items:flex-end;
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(-45deg, rgba(233, 0, 255, 1) 20%, rgba(19, 19, 19, 1) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: left center;
    background-size: 150% 150%;
    animation: animate 3s ease-in-out infinite;
    }

    .menu-section {
        display: none;
    }

    .menu-responsive {
        display: flex;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    .menu-item {
        text-decoration: none;
        color: #000;
        font-size: 1.5rem;
        display: inline-block;
        text-align: center;
        align-items: center;
        padding: 30px 20px;
        min-width: 150px;
    }

    .line-selected-item {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100px;
        background-color: transparent;
        transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }
}

/* Escritorio extra grande */
@media only screen and (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wr-1 h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        max-width: 90%;
        white-space: normal;
        color: aliceblue;
    }

    .wr-1-optional h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        max-width: 90%;
        white-space: normal;
        color: #eb5aed;
    }

    .frame__title-main-2 {
        line-height: 2rem;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: 2rem;
        font-weight: 600;
        max-width: 50%;
        color: #ffffff;
    }

   
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .wr-1 h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        max-width: 90%;
        white-space: normal;
        color: aliceblue;
    }

    .wr-1-optional h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        max-width: 90%;
        white-space: normal;
        color: #eb5aed;
    }

    .wr-1-optional {
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        gap: 1rem;
        min-height: 300px;
    }

    .frame__title-main-2 {
        line-height: 2rem;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: 2rem;
        font-weight: 600;
        max-width: 50%;
        color: #ffffff;
    }

  
}

/* Teléfonos */
@media only screen and (max-width: 575px) {
    body {
        overflow-x: hidden;
    }

    .wr-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }

    .wr-1-optional {
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        gap: 1rem;
        min-height: 300px;
    }

    .title-price {
        display: flex;
        flex-direction: column;
    }

    .slide .info-section {
        flex: 0 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5px 0;
        gap: 10px;
        font-family: neue-haas-grotesk-display, sans-serif;
        color: #131313;
    }

    .product-detail-btn {
        display: none;
    }

    .slide .info-section .title-price > span {
        font-size: 1rem;
        white-space: pre-line;
    }

    .slide .info-section .brand > span {
        font-size: 1rem;
    }

    .slide .info-section-2 {
        flex: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-end;
        padding: 5rem 0rem 1rem 1rem;
        font-family: neue-haas-grotesk-display, sans-serif;
        color: white;
    }

    .slide .info-section-2 .brand > span {
        font-size: 1.5rem;
    }

    .page-footer {
        padding: 0rem 1rem;
    }

    .ship-btn {
        max-width: 155px;
        background-color: black;
        border: none;
        color: white;
        display: flex;
        align-items: center;
        text-align: center;
        font-family: PPFraktionMono, monospace;
        text-decoration: none;
        font-size: 1rem;
        padding: 1rem;
        border-radius: 100px;
    }

    .page-footer__credits {
        font-weight: 800;
        padding-top: 2vh;
        text-align: left;
    }

    .wr-banner {
        flex: 1 1;
        padding: 1rem;
    }

    .wr-banner-2 {
        flex: 1 1;
        padding: 3rem 1rem;
    }

    .wr-3 {
        min-height: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: center;
        gap: 2rem;
    }

    .wr-5 {
        padding: 1rem;
        background-color: #000;
        color: #f5f3f4;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .wr-5 > a {
        color: #f5f3f4;
        font-size: 0.8rem;
    }

    .wr-4 > h1 {
        font-size: 2rem;
    }

    .wr-banner-3 {
        padding: 2rem 0rem;
    }

    .intro-2 {
        padding: 1rem;
        background-color: black;
    }

    .frame__title-main {
        width: 100%;
        font-size: 2.5rem;
        line-height: 2.3rem;
        font-weight: 500;
        font-family: neue-haas-grotesk-display, sans-serif;
        text-transform: none;
        color: #FFF;
        background: linear-gradient(to left, #f6e2fa, #e900ff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 5s ease-in-out infinite;
    }

    .frame__title-main-2 {
        line-height: 1.5rem;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        max-width: 50%;
        color: #ffffff;
    }

    .frame__title-main-4 {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        max-width: 50%;
        color: black;
    }

    .frame__title-main-3 {
        font-size: 2rem;
        color: #ffffff;
        white-space: normal;
    }

    .clean-btn {
        font-size: 1rem;
        padding: 1rem 1rem;
    }

    .clean-btn-2 {
        font-size: 1rem;
        padding: 1rem 1rem;
        font-weight: 300;
    }

    .page-footer__text {
        margin-bottom: 3rem;
    }

    .oh {
        max-width: 150px;
        white-space: normal;
    }

    .cell__title {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: #000;
    }



    .cell span {
        font-size: 1.5rem;
        font-weight: 600;
        color: #000;
    }

    .space--elements {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0;
        align-items: center;
        align-content: center;
    }

    .space--elements span {
        white-space: nowrap;
    }

    .intro-3 {
        padding: 1rem;
        position: sticky;
        z-index: 999;
        top: 0;
    }

    .arrow-prev {
        opacity: 0;
    }

     .arrow-next {
        opacity: 0;
    }
}


@keyframes animate {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }