* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    touch-action: manipulation;
}

:root {
    font-size: 14px;
    --color-text: #131313;
    --color-bg: #fff;
    --color-link: #000;
    --color-link-hover: #131313;
    --padding-sides: 2rem;
    --padding-row: 1rem;
    --color-row-border: #f0f0f0;
    --color-bg-row-hover: #f0f0f0;
    --color-text-alt: #000;
    --image-gap: 1vw;
    --image-gap-large: 2vw;
    --img-size: 5vw;
    --img-size-large: 14vw;
}

*::-webkit-scrollbar {
    display: none;
}

video::-webkit-media-controls {
    display: none;
}

.wrapper-product {
    position: relative;
    width: 100%;
    height: 50vh;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.slider-inner {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3px;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    padding: 1rem;
}

.item {
    position: relative;
    width: 400px;
    height: 100%;
    overflow: hidden;
    background-color: none;
  
}

.section-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: auto;
}

.section-image video {
    position: absolute;
    width: 100%;
    height: auto;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: auto;
    border: none;
}

.progress-bar-2 {
    background-color: var(--color-row-border);
    position: relative;
    left: 0;
    height: 1px;
    width: 100%;
    margin-top: 1rem;
 
}

.prog-bar-inner-2 {
    position: relative;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
}


.cell .oh {
    font-size: 2rem;
}

/* Teléfonos */
@media only screen and (max-width: 575px) {

 

    .wrapper-product {
        position: relative;
        width: 100%;
        height: 45vh;
    }

    .slider-inner {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: 3px;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        padding: 0.5rem;
    }

    .item {
        position: relative;
        width: 350px;
        height: 100%;
        overflow: hidden;
        background-color: none;
      
    }

    .cell .oh {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    .progress-bar-2 {
   
        margin-top: 0.5rem;
     
    }
}
