* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    touch-action: manipulation;
}

*::-webkit-scrollbar {
    display: none;
}

video::-webkit-media-controls {
    display: none;
}

.wrapper-product {
    position: relative;
    width: 100%;
    height: 50vh;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.slider-inner {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3px;
    top: 0;
    left: 0;
    width: 2000px;
    height: 100%;
    padding: 1rem;
}

.item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: none;
  
}

.section-image img {
    position: absolute;
    width: 100%;
    height: auto;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: auto;
}

.section-image video {
    position: absolute;
    width: 100%;
    height: auto;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: auto;
    border: none;
}

.progress-bar-2 {
    background-color: #e8e7e7;
    position: relative;
    left: 0;
    height: 1px;
    width: 100%;
}

.prog-bar-inner-2 {
    position: relative;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
}

